body {
  display: flex;
  justify-content:center;
  align-items:last baseline;
  height: 97vh;
  background: #c0c0c0;
  margin: 0;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('./background.jpg');
  background-size: cover;
  backdrop-filter: drop-shadow(0 10px 20px rgba(0,0,0,0.3));; */
}
.header{
  height: 50px;
  width: 400px;
  padding: 15px;
  color: white;
  background-color: #007bff;
}
.chat-container {
  /* margin-top: 30px; */
  width: 400px;
  height:  99vh;
  background: rgb(232, 232, 232);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#messages {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow-y: auto;
}

.chat-message {
  margin: 5px 0;
  padding: 8px 12px;
  max-width: 70%;
  border-radius: 10px;
  display: inline-block;
  word-wrap: break-word;
}

.sent {
  background: #007bff;
  color: white;
  align-self: flex-end;
  margin-left: auto;
  border-bottom-right-radius: 0;
}

.received {
  background: #e0e0e0;
  color: black;
  align-self: flex-start;
  margin-right: auto;
  border-bottom-left-radius: 0;
}

#chat-form {
  display: flex;
  /* border-top: 1px solid #ccc; */
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
}

#msg {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px 0px 0px 20px;

}

button {
  /* padding: 12px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0px 20px 20px 0px;
}

button:hover {
  background: #0056b3;
}
